body {
    margin: 0;
    padding: 0;
}

.casa {
    background-image: url(img/casa-antica-2925168_1920.jpg);
    width: 1600px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-position: center;
    margin: 0 auto;
}


.rail {
    top: 25vh;
    left: 71vh;
    position: absolute;
    width: 50vh;
    z-index: 1;
}

.puertacompleta {
    position: absolute;
    top: 25vh;
    right: 950px;
    transition: all 3s;
}

.puertacompleta:hover {
    right: 780px;
}

.puerta {
    position: absolute;
    width: 21vh;
    z-index: 0;
}

.enganche1,
.enganche2 {
    position: absolute;
    z-index: 1;
    width: 15px;
}

.enganche2 {
    left: 155px;
}

.enganche1 {
    left: 2px;
}