@font-face {
    font-family: myFirstFont;
    src: url(formula-1/Formula\ 1.otf);
}

* {
    font-size: 20px;
    font-family: myFirstFont;
}

body {
    height: 100vh;
    margin: 0;
    background-color: aqua;
}

nav {
    height: 5vh;
}

header {
    height: 10vh;
    background-color: blueviolet;
}

section {
    height: 80vh;
    background-color: cadetblue;
}

article {
    height: 80vh;
    width: 40%;
    background-color: deeppink;
    display: inline-block;
}

article+article {
    height: 80vh;
    width: 40%;
    background-color: chartreuse;
    float: left;
}

aside {
    height: 80vh;
    width: 20%;
    background-color: steelblue;
    float: left;
}

footer {
    height: 5vh;
    background-color: tomato;
}

@media screen and (max-width: 1000px) {/*Cuando es una tablet*/
    article {
        height: 40vh;
        width: 70%;
    }
    
    article+article {
        height: 40vh;
        width: 70%;
    }

    aside {
        height: 80vh;
        width: 30%;
    }
}

@media screen and (max-width: 600px) {
    article {
        height: 35vh;
        width: 100%;
        background-color: deeppink;
        display: inline-block;
    }
    
    article+article {
        height: 35vh;
        width: 100%;
        background-color: chartreuse;
        float: left;
    }

    aside {
        height: 10vh;
        width: 100%;
        background-color: steelblue;
        float: left;
    }
}