/*coche atraviesa un muro (humo y escombros) y se choca contra un edificioal aparecen llamas en el impacto sobre el idificio y subre algun desperfecto. sonido que interactua con la web. pajaros volando y aparecen diglet en la tiera de manera infinita */
body {
    margin: 0;
    padding: 0;
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#fondo {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}


#suelo {
    width: 100vw;
    height: 30vh;
}

#bici {
    position: absolute;
    bottom: 20vh;
    left: 20vw;
    z-index: 2;
    animation: bici;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#stonjournerpata2 {
    position: absolute;
    z-index: 3;
    animation-name: caerPata2;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    width: 16vw;
    left: 20vw;
    bottom: 18vh;
    transform-origin: 40%;
}

#stonjournerpata1 {
    position: absolute;
    z-index: 2;
    animation-name: caerPata1;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    width: 16vw;
    left: 20vw;
    bottom: 18vh;
    transform-origin: 50% 100%;
}

#stonjournercabezaimg {
    position: absolute;
    z-index: 1;
    top: 0;
    animation-name: stonjournercabezaimg;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    width: 16vw;
    left: 20vw;
    top: 50vh;
}

#biciimg {
    width: 6vw;

    height: 10vh;
    animation-name: golpe;
    animation-duration: 1s;
    animation-delay: 4s;
}

#centropokemonimg {
    width: 20vw;
}

#centropokemon {
    position: absolute;
    left: 75vw;
    bottom: 15vh;
}

#aerodactyl {
    position: absolute;
    left: 1vw;
    bottom: 80vh;
    width: 6vw;
    animation-name: aerodactyl;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#aerodactylidaimg {
    position: absolute;
    opacity: 1;
}

#aerodactylvueltaimg {
    position: absolute;
    opacity: 0;
}

#sol {
    position: absolute;
    left: 80vw;
    top: 5vh;
}

#solimg {
    width: 15vw;
    animation: cambiarColor 10s infinite linear;
}

#diglettbaseimg1,
#diglettbaseimg2,
#diglettbaseimg3 {
    position: absolute;
    width: 5vw;
}

#diglettcabezaimg1,
#diglettcabezaimg2,
#diglettcabezaimg3 {
    position: absolute;
    width: 5vw;
}

#diglettbaseimg1 {
    left: 60vw;
    bottom: 15vh;
}

#diglettcabezaimg1 {
    left: 60vw;
    bottom: 15vh;
    animation-name: topo1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#diglettbaseimg2 {
    left: 45vw;
    bottom: 5vh;
}

#diglettcabezaimg2 {
    left: 45vw;
    bottom: 5vh;
    animation-name: topo3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

#diglettbaseimg3 {
    left: 5vw;
    bottom: 5vh;
}

#diglettcabezaimg3 {
    left: 5vw;
    bottom: 5vh;
    animation-name: topo3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1.7s;
}

#boom {
    position: absolute;
    width: 20vw;
    left: 63vw;
    z-index: 4;
    bottom: 10vh;
    opacity: 0;
    animation-name: boom;
    animation-duration: 1s;
    animation-delay: 4s;
}

#fuego {
    position: absolute;
    width: 20vw;
    left: 63vw;
    z-index: 5;
    opacity: 0;
    bottom: 15vh;
    animation-name: fuego;
    animation-duration: 4s;
    animation-delay: 4.2s;
    animation-fill-mode: forwards;
}

#lapras {
    position: absolute;
    width: 10vw;
    bottom: 45vh;
    left: -10vw;
}

#lluvia {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    opacity: 0;
}

#botton {
    position: absolute;
    bottom: 90vh;
    left: 45vw;
    z-index: 10;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@keyframes bici {
    0% {
        left: 5vw;
    }

    40% {
        left: 20vw;
    }

    80% {
        left: 25vw;
    }

    95% {
        left: 72vw;
    }

    99% {
        transform: rotate(0deg);
    }

    100% {
        left: 70vw;
        transform: rotate(180deg);
    }
}

@keyframes caerPata1 {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes caerPata2 {
    0% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes stonjournercabezaimg {
    0% {
        top: 53vh;
    }

    80% {
        top: 53vh;
    }

    100% {
        top: 60vh;
    }
}

@keyframes aerodactyl {
    0% {
        left: 1vw;
    }

    50% {
        left: 90vw;
    }

    100% {
        left: 1vw;
    }
}

@keyframes topo1 {
    0% {
        bottom: 23vh;
    }

    50% {
        bottom: 15vh;
    }

    100% {
        bottom: 23vh;
    }
}

@keyframes topo3 {
    0% {
        bottom: 13vh;
    }

    50% {
        bottom: 5vh;
    }

    100% {
        bottom: 13vh;
    }
}

@keyframes cambiarColor {
    0% {
        filter: hue-rotate(0deg);
    }

    25% {
        filter: hue-rotate(90deg);
    }

    50% {
        filter: hue-rotate(180deg);
    }

    75% {
        filter: hue-rotate(270deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes golpe {
    0% {
        width: 6vw;
    }

    50% {
        width: 3vw;
    }

    100% {
        width: 6vw;
    }
}

@keyframes boom {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }
}

@keyframes fuego {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lapras {

    0% {
        left: -10vw;
    }

    10% {
        left: 45vw;
    }

    90% {
        left: 45vw;
    }

    100% {
        left: -10vw;
    }
}

@keyframes lluvia {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fuegoDesvanecer {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}