body {
    padding: 0;
    margin: 0;
}

.cartas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.fila1 {
    position: relative;
    display: flex;
}

.fila2 {
    position: relative;
    display: flex;
}

.carta {
    position: relative;
    width: 281.7px;
    height: 400px;
}

.carta div {
    width: 281.7px;
    height: 400px;
    background-size: cover;
    position: absolute;
}

.reverso {
    background-image: url("../img/dorsoInvertido.jpg");
}

.charizard .anverso {
    background-image: url("../img/charizard.jpg");
}

.ferro .anverso {
    background-image: url("../img/ferrothorn.png");
}

.mew .anverso {
    background-image: url("../img/mew.png");
}

.machamp .anverso {
    background-image: url("../img/machamp.jpg");
}

.lucario .anverso {
    background-image: url("../img/lucario.jpg");
}

.gyarados .anverso {
    background-image: url("../img/gyarados.png");
}

.brock .anverso {
    background-image: url("../img/brock.jpg");
}

.tyranitar .anverso {
    background-image: url("../img/tyranitar.png");
}

.carta div {
    transition: all 1s;
}

.carta .anverso {
    transform: rotateY(180deg);
    z-index: 0;
}

.carta .reverso {
    z-index: 10;
}

.carta.selecionada .anverso {
    transform: rotateY(0deg);
    z-index: 10;
}

.carta.selecionada .reverso {
    transform: rotateY(180deg);
    z-index: 0;
}

.carta.selecionada div {
    transform: rotateY(180deg);
}