body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.nave {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(img/naveEspacial.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;

}

.planeta {
    width: 10vw;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    offset-path: path('M.4 84.1s127.4 188 267.7 0 247.3 0 247.3 0');
    animation-name: move;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

<<<<<<< HEAD:nave/main.css
.planeta {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    offset-path: path('M.4 84.1s127.4 188 267.7 0 247.3 0 247.3 0');
    animation-name: move;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.tierra {
    top: 20vh;
    left: 20vw;
    width: 10vw;
    background-image: url(img/tierra.jpg);
}

=======
.tierra {
    top: 20vh;
    left: 20vw;
    background-image: url(img/tierra.jpg);
}

>>>>>>> b35bbbf0683e22824520de5033843aac723f020e:nave_Mario_Díaz/main.css
.saturno {
    left: 60vw;
    width: 20vw;
    background-image: url(img/tierra.jpg);
}

<<<<<<< HEAD:nave/main.css
.estrellaDeLaMuerte {
    top: 20vh;
    left: 20vw;
    width: 30vw;
    background-image: url(img/estrellaDeLaMuerte.jpg);
=======
.voltor {
    width: 30vw;
    top: 20vh;
    left: 20vw;
    background-image: url(img/tierra.jpg);
    display: none;
>>>>>>> b35bbbf0683e22824520de5033843aac723f020e:nave_Mario_Díaz/main.css
}

.halconMilenario {
    position: absolute;
<<<<<<< HEAD:nave/main.css
    z-index: 3;
    width: 20vw;
    left: 120vw;
    top: 60vh;
}

.TIESilencer {
    position: absolute;
    z-index: 3;
    width: 20vw;
    left: 120vw;
    top: 60vh;
=======
    width: 10vw;
    left: 110vw;
    top: 45vh;
    z-index: 2;
}

.tieFighter {
    position: absolute;
    width: 10vw;
    left: 110vw;
    top: 50vh;
    z-index: 2;
}

.disparos {
    position: absolute;
    top: 50vh;
    width: 10vw;
    left: 110vw;
    z-index: 2;
>>>>>>> b35bbbf0683e22824520de5033843aac723f020e:nave_Mario_Díaz/main.css
}

.fondo {
    position: absolute;
    left: 20vw;
    width: 200vw;
    height: 200vw;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    offset-path: path('M.4 84.1s127.4 188 267.7 0 247.3 0 247.3 0');
    animation-name: move;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.panel {
    position: absolute;
    left: 47.5vw;
    top: 89vh;
    z-index: 11;
    width: 6vw;
    box-sizing: border-box;
    box-shadow: 10px 10px 70px 10px rgba(244, 255, 25, 0.8);
}

@keyframes salto {
    0% {
        background-size: 120%;
    }

    10% {
        background-size: 220%;
    }

    15% {
        background-size: 520%;
    }

    18% {
        background-size: 1120%;
    }

    20% {
        background-size: 2120%;
    }

    99% {
        background-size: 2120%;
    }

    100% {
        background-size: 120%;
    }
}

@keyframes move {
    0% {
        offset-distance: 0%;
    }

    50% {
        offset-distance: 100%;
    }

    100% {
        offset-distance: 0%;
    }
}

@keyframes volar {
    0% {
<<<<<<< HEAD:nave/main.css
        left: 120vw;
    }

    100% {
        left: -20vw;
=======
        left: 110vw;
    }

    100% {
        left: -10vw;
>>>>>>> b35bbbf0683e22824520de5033843aac723f020e:nave_Mario_Díaz/main.css
    }
}