:root {
    --primary-color: #A594F9;
    --strong-header-color: #7F74E1;
    --secondary-color: #CDC1FF;
    --background-color: #F5EFFF;
    --card-background: #E5D9F2;
    --card-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    --header-background: var(--strong-header-color);
    --header-color: #FFFFFF;
    --hover-color: #7f74e1;
    --card-radius: 8px;
    --button-radius: 5px;
    --btn-hover-color: #7f74e1;
    --accent-color: #D1C7F2;
    --link-color: #B3A9FF;
    --section-border: #C0B5F5;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--header-background);
}

nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: var(--header-background);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

svg {
    position: fixed;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
    background-color: var(--background-color);
    border-bottom: 5px solid var(--section-border);
}

.section1 {
    height: 100vh;
    background-color: var(--background-color);
    border-bottom: 5px solid var(--section-border);
    z-index: 1;
}

section:nth-child(odd),
section:nth-child(even) {
    background-color: var(--background-color);
    color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate {
    animation: fadeIn 1s ease-out forwards;
}

.card {
    background-color: var(--card-background);
    box-shadow: var(--card-shadow);
    border-radius: var(--card-radius);
    padding: 20px;
}

.content {
    z-index: 1;
}

button {
    background-color: var(--primary-color);
    color: var(--header-color);
    border-radius: var(--button-radius);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--btn-hover-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
}


.navbar-dark {
    background-color: var(--header-background);
}

.navbar-nav .nav-link {
    color: var(--header-color);
}

.navbar-nav .nav-link:hover {
    color: var(--hover-color);
}

.navbar-toggler-icon {
    background-color: var(--primary-color);
}

#mapaEuropa {
    position: relative;
}

#section3 {
    padding: 3rem 0;
}

#section3 .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


#section3 .text-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

#section3 p {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
    text-align: justify;
}

#section3 img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

#section6 .content {
    text-align: right;
}

#section6 .row {
    justify-content: flex-end;
}

#Espana,
#Francia,
#Paisesbajos,
#Alemania {
    fill: rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    #section3 .row {
        flex-direction: column;
    }

    #section3 img {
        max-width: 150px;
        margin-bottom: 1rem;
    }

    #section3 .text-title {
        font-size: 1.5rem;
    }
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 15px;
}

.text-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
    text-align: justify;
}

.carta {
    position: absolute;
    left: 85vw;
    top: 370vh;
    border-radius: 15px;
    overflow: hidden;
    width: var(--card-width, 10vw);
    height: calc(var(--card-width, 15vh) * 1.4);
    perspective: 1000px;
    cursor: pointer;
    transition: all 1s ease-in-out;
    z-index: 1; /* Se establece el z-index bajo por defecto */
}

.carta > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}

.espana .reverso {
    background: url('img/viajes/espana.jpg');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
}

.espana .anverso {
    background: url('img/viajes/espanaBandera.jpg');
    background-size: cover;
    background-position: center;
}

.grecia .reverso {
    background: url('img/viajes/grecia.jpg');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
}

.grecia .anverso {
    background: url('img/viajes/greciaBandera.jpg');
    background-size: cover;
    background-position: center;
}

.malta .reverso {
    background: url('img/viajes/malta.jpg');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
}

.malta .anverso {
    background: url('img/viajes/maltaBandera.jpg');
    background-size: cover;
    background-position: center;
}

.carta.selecionada .anverso {
    transform: rotateY(180deg);
}

.carta.selecionada .reverso {
    transform: rotateY(0deg);
}

.carta.selecionada {
    width: 70vw;
    height: 90vh;
    top: 305vh;
    left: 5vw;
    z-index: 10;
}

.carta.deseleccionada {
    z-index: 0;
    transform: rotateY(0deg);
}
